/********************* Root variables *********************/
:root{
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 50%);
  --black: hsl(0, 0%, 7%);
}

/********************* Reset *********************/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/********************* General *********************/
body{
  background-color: var(--yellow);
}

/********************* COLORS *********************/

/*********** PRIMARY ***********/
.bg-yellow{
  background-color: var(--yellow);
}
.txt-yellow{
  color: var(--yellow);
}

/*********** NEUTRAL ***********/
.bg-white{
  background-color: var(--white);
}
.txt-white{
  color: var(--white);
}
.bg-grey{
  background-color: var(--grey);
}
.txt-grey{
  color: var(--grey);
}
.bg-black{
  background-color: var(--black);
}
.txt-black{
  color: var(--black);
}