/********************* Root variables *********************/
:root{
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 50%);
  --black: hsl(0, 0%, 7%);
  --font-size-p: 16px;
  --container-min-width: 330px;
  --container-max-width: 385px;
  --container-border-radius: 20px;
  --container-padding: 1.4rem;
  --container-main-image-border-radius: calc(var(--container-border-radius) / 2);
  --fw-extrabold: 800;
  --fw-semibold: 500;
  --p-pd-mg-1: calc(var(--container-padding) / 2);
  --p-pd-mg-2: var(--container-padding);
}

/********************* Fonts declarations *********************/
@font-face {
  font-family: "Figtree";
  src: url('../assets/fonts/static/Figtree-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Figtree";
  src: url('../assets/fonts/static/Figtree-SemiBold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/********************* Reset *********************/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/********************* General *********************/
body{
  background-color: var(--yellow);
  font-family: 'Figtree';
}

.center-element{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/********************* FONTS *********************/

/*********** WEIGHTS ***********/
.fw-extrabold{ font-weight: var(--fw-extrabold); }
.fw-semibold{ font-weight: var(--fw-semibold); }

/********************* MARGINS & PADDINGS *********************/

/*********** MARGINS ***********/
.m-1{ margin: var(--p-pd-mg-1); }
.my-1{ margin-top: var(--p-pd-mg-1); margin-bottom: var(--p-pd-mg-1); }
.mb-1{ margin-bottom: var(--p-pd-mg-1); }
.my-2{ margin-top: var(--p-pd-mg-2); margin-bottom: var(--p-pd-mg-2); }
.mb-2{ margin-bottom: var(--p-pd-mg-2); }

/*********** PADDINGS ***********/
.py-1{ padding-top: var(--p-pd-mg-1); padding-bottom: var(--p-pd-mg-1); }
.pb-1{ padding-bottom: var(--p-pd-mg-1); }

/********************* COLORS *********************/

/*********** PRIMARY ***********/
.bg-yellow{
  background-color: var(--yellow);
}
.txt-yellow{
  color: var(--yellow);
}

/*********** NEUTRAL ***********/
.bg-white{
  background-color: var(--white);
}
.txt-white{
  color: var(--white);
}
.bg-grey{
  background-color: var(--grey);
}
.txt-grey{
  color: var(--grey);
}
.bg-black{
  background-color: var(--black);
}
.txt-black{
  color: var(--black);
}

/********************* Main classes *********************/
.container{
  min-width: var(--container-min-width);
  max-width: var(--container-max-width);
  border-radius: var(--container-border-radius);
  border: 1px solid var(--black);
  box-shadow: 8px 8px var(--black);
  padding: var(--container-padding);
}
.container:hover{ box-shadow: 16px 16px var(--black); }
.container h2:hover{ 
  color: var(--yellow);
  cursor: pointer;
}
.container>img{
  width: 100%;
  border-radius: var(--container-main-image-border-radius);
  margin-bottom: var(--container-padding);
}
.badge{
  padding: 7px 14px;
  border-radius: 5px;
}
.author{
  display: flex;
  align-items: center;
  gap: 10px;
}
.author>img{ width: 30px; height: auto; }